.search{
    width: 350px;
    border-radius: 20px;
    border:2.5px solid #3532f0;
    height:40px;
    background-color: transparent;
    color:#3532f0;
 }
 
 .search:hover{
     backdrop-filter: blur(10px);
     cursor:text;
     color:rgb(14, 4, 71);
 }
 
 .agregar{
     height:40px;
     width:80px;
     border:2px solid #6bf032;
     border-radius: 20px;
     margin-left: 10px;
     color:rgb(0, 0, 0) solid;
     background-color: #6bf032;
 }
 
 .agregar:hover{
     color:#6bf032;
     background-color:rgb(0, 0, 0);
     cursor: pointer;
 }

 .logout{
    height:40px;
    width:80px;
    border:2px solid #6bf032;
    border-radius: 20px;
    margin-left: 10px;
    color:black solid;
    background-color: #6bf032;
}

.logout:hover{
    color:rgb(255, 255, 255);
    background-color:rgb(111, 0, 255);
    border-color:rgb(111, 0, 255);
    cursor: pointer;
}
 